[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=monitor
Group=monitor
Type=simple
ExecStart=/opt/node_exporter --collector.mountstats

[Install]
WantedBy=multi-user.target